<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="../public/assets/hovedcss.css" rel="stylesheet" type="text/css" />
    <title>Reservation Database</title>
</head>
<body>
    
    <section>
            <div class="loginbox">
                <br>
                <br>
                <br>
                <span class="text-center lato ls-small">Booking completed!</span>
                <h1 class="lato medium ls-small">Dear Mr./Mrs. <%- name %>,</h1>
                <h3 class="lato medium ls-small">Your booking to <%- destination %> is now completed!</h3>
                <h3 class="lato medium ls-small">If you wish to make changes to your reservation, use your e-email and password to log-in</h3>
                <h3 class="lato medium ls-small">Enjoy your trip!</h3>
                <br>
                <br>
                <button class="medium uppercase ls-medium lato" onclick="window.location.href='/login'" >Manage your reservation</button>
                <div style="position: absolute; bottom: 5px; left: 5px;">
                    <a href="/" style="color: grey;">&lt--Back to start</a>
                </div>
            </div>
    </section>
    
</body>
<script>

    
</script>
</html>

