<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="../public/assets/hovedcss.css" rel="stylesheet" type="text/css" />
    <title>Reservation Database</title>
</head>
<body>
    <section>
        <div class="maindiv">
            <h1 class="gamma thin uppercase ls-xlarge lato">Welcome</h1>
            <span class="open-sans tera ls-large bold">Reservation</span>
            <h1 class="gamma thin uppercase ls-xlarge lato">Database</h1>
            <br>
            <br>
            <button class="medium uppercase ls-medium lato"  onclick="window.location.href='/login'">Log In</button>
        </div>
    </section>
    
</body>
</html>